.font-text {
    font-family: "Manrope", sans-serif;
  }

svg.radial-progress {
    height: auto;
    max-width: 150px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}
svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; /* Circumference */
    stroke-width: 7;
}
svg.radial-progress circle.incomplete {
    opacity: 0.25;
}
svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129; /* Circumference */
}
svg.radial-progress text {
    fill: #131318;
    font: 400 1em/1 "Manrope", sans-serif;
    text-anchor: middle;
}

svg.color1 circle {
    stroke: #FF4240;
}

/* Secondary */
svg.color2 circle {
    stroke: #49D293;
}

/* Tertiary */
svg.color3 circle {
    stroke: #FFB546;
}

/* Quaternary */
svg.color4 circle {
    stroke: #4C8DF1;
}

.collapse-plus>.collapse-title:after {
    top:1.7rem;
}

@media screen and (max-width:430px) {
    .slider-container{
        height:550px !important;
    }
}